/* CSS for website tabs*/

.Tabs{
  display: inline-block; 
  list-style-type: none;
  padding-left: 13%;
}

.MyName{
  font-weight: 700;
  font-size: 1.2em;
  color: #2b2b2b; 
}

ul li{
  display: inline;
}

.TabLinks{
  padding-left: 10%;
  color: #34495e;
  font-weight: 700;
  font-size: 1em;
}

.TabLinks:hover { 
  color: #6b92ff;
}

.Line{
  width: 200%;
}

/* CSS for About page*/

.Summary{
  padding-top: 10%;
}

.AboutHeader{
  font-weight: normal; 
  float: right;
  font-size: 50px;
}

.MyImage{
  border-radius: 50%;
  height: 65%;
  width: 65%;
}

.Name{
  display: block;
  font-size: 2em;
}

.Title{
  color: #d7d7d7;
  font-size: 1.5em;
}