html{
  scroll-behavior: smooth; 
}

/* CSS for website tabs*/
/*
.Tabs{
  display: inline-block; 
  list-style-type: none;
}

.MyName{
  font-weight: 700;
  font-size: 1.2em;
  color: #2b2b2b; 
}

ul li{
  display: inline;
}

.TabLinks{
  padding-left: 3%;
  color: #34495e;
  font-weight: 700;
  font-size: 1em;
}

.TabLinks:hover { 
  color: #6b92ff;
}

.Line{
  width: 100%;
}

/* CSS for About page*/

.AboutSummary{
  padding-top: 3%;
  text-align: center;
}

.MyImage{
  border-radius: 50%;
}

.MyDescription{
  padding-left: 10%;
  padding-right: 10%;
  color: #5e5e5e;
  font-size: 1.2em;
}

/* CSS for Experience page*/

.ExperienceSummary{
  text-align: center;
  padding-right: 5%;
}

.ExperienceHeader{
  font-size: 35px;
  font-family: Montserrat; 
  font-weight: 200;
}

.ExperienceCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 5px 20px 10px 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 65%;
  margin-left:auto; margin-right:0;
}

.ExperiencePosition{
  font-family: Montserrat;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.ExperiencePlace:hover{
  text-decoration: underline;
}

.ExperienceDate{
  font-weight: 100;
}

/* CSS for Projects page */ 

.ProjectSummary{
  text-align: center;
  padding-left: 5%;
}

.ProjectHeader{
  font-size: 35px;
  font-family: Montserrat; 
  font-weight: 200;
}

.ProjectCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 5px 20px 10px 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 65%;
}

.ProjectPosition{
  font-family: Montserrat;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.ProjectDate{
  font-weight: 100;
}

/*CSS for Languages page*/

.LanguageSummary{
  padding: 50px 0px 50px 0px;
  text-align: center;
}

.ProgressCircle {
  font-size: 20px;
  margin: 20px;
  position: relative; 
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1; 
  border-radius: 50%;
}

.ProgressCircle:after{
   border: none;
   position: absolute;
   top: 0.35em;
   left: 0.35em;
   text-align: center;
   display: block;
   border-radius: 50%;
   width: 4.3em;
   height: 4.3em;
   background-color: white;
   content: " ";
}

.ProgressCircle span {
   position: absolute;
   line-height: 5em;
   width: 5em;
   display: block;
   color: #6b92ff;
   z-index: 2;
}
.Left-Half { 
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);  
}

.ProgressCircle .Left-Half {
  clip: rect(auto,auto,auto,auto);
}
.ValueBar {
  position: absolute;
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #6b92ff; 
  box-sizing: border-box;
}

.ProgressCircle .FirstHalf {
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #6b92ff;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.ProgressCircle.p85 .ValueBar { transform: rotate(306deg); }
.ProgressCircle.p90 .ValueBar { transform: rotate(324deg); }
.ProgressCircle.p95 .ValueBar { transform: rotate(342deg); }

.Column {
  display: inline-table;
  padding: 0 10% 0 10%;
  width: auto;
}

/* CSS for footer */

footer{
  padding: 0 10% 0 10%;
  text-align: center;
  font-weight: 300;
  font-size: 0.9em;
}

.ReactLink{
  color: #6b92ff;
}

.ReactLink:hover{
  text-decoration: underline;
}