/* Common CSS */

html{
  scroll-behavior: smooth; 
}

.Header{
  font-size: 45px;
  font-family: Montserrat; 
  font-weight: 200;
  color: #313131;
}

div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

/* Headers but smaller and black font */

div.foo2{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.letter1{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: #ffffff;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.letter2{
  display: inline-block;
  font-weight: 900;
  font-size: 4em;
  margin: 0.2em;
  position: relative;
  color: rgb(0, 0, 0);
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}


/* CSS for website tabs*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.Main{
  margin: auto;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-left: 2%;
  padding-right: 2%;
  font:14px/1.5 'Open Sans',sans-serif;
  color:#345;
  background:#f7f7f7;
}

input {
  display: none;
}

label {
  margin: auto;
  width: 50%;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #404040;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f007'; }
label[for*='2']:before { content: '\f0b1'; }
label[for*='3']:before { content: '\f0eb'; }
label[for*='4']:before { content: '\f121'; }

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label{
  color: #00B4F1;
  border: 1px solid #abc;
  border-top: 2px solid #00B4F1;
  border-bottom: 1px solid #fff;
}

.Tabs{
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
  .letter{ font-size: 8em; }
  .letter1{ font-size: 4em; }
  .letter2{ font-size: 4em; }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
  .letter{ font-size: 3.5em; }
  .letter2{ font-size: 1.5em; }
}

/* CSS for About page*/

.AboutSummary{
  padding-top: 3%;
  text-align: center;
  background-color: #00B4F1;
}

.MyIntro{
  font-size: 5em;
  color: #ffffff;
}

.wrap {
  text-align: center;
}

.wrap a {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 0px;
}

a.button {
  color: #ffffff;
  box-shadow: #ffffff 0 0px 0px 2px inset;
}

a.button:hover {
  color: #00B4F1;
  box-shadow: #ffffff 0 0px 0px 40px inset;
}

/* CSS for Experience page*/

.ExperienceSummary{
  text-align: center;
  padding-right: 5%;
  background:#f7f7f7;
  padding-top: 1%;
  padding-bottom: 3%;
}

.ExperienceCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 5px 40px 50px 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 65%;
  margin-left:auto; margin-right:0;
  border: 1px solid #00B4F1;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.ExperienceCard:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.ExperiencePosition{
  font-family: Montserrat;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.ExperienceDate{
  font-weight: 100;
}

.FlipCard:hover .ExperienceCard {
  transform: rotateY(180deg);
}

.ExperienceCardFront, .ExperienceCardBack {
  backface-visibility: hidden;
}

.ExperienceCardFront{
  position: absolute;
}

.ExperienceCardBack {
  transform: rotateY(180deg);
}

/* CSS for Projects page */ 

.ProjectSummary{
  text-align: center;
  padding-left: 5%;
  background:#ffffff;
  padding-top: 1%;
  padding-bottom: 3%;
}

.ProjectHeader{
  font-size: 35px;
  font-family: Montserrat; 
  font-weight: 200;
}

.ProjectCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 5px 20px 10px 20px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 65%;
  border: 1px solid #00B4F1;
}

.ProjectCard:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.ProjectPosition{
  font-family: Montserrat;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.ProjectDate{
  font-weight: 100;
}

/*CSS for Languages page*/

.LanguageSummary{
  padding: 50px 0px 50px 0px;
  text-align: center;
  background:#f7f7f7;
  padding-top: 1%;
  padding-bottom: 3%;
}

.ProgressCircle {
  font-size: 20px;
  margin: 20px;
  position: relative; 
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1; 
  border-radius: 50%;
}

.ProgressCircle:after{
   border: none;
   position: absolute;
   top: 0.35em;
   left: 0.35em;
   text-align: center;
   display: block;
   border-radius: 50%;
   width: 4.3em;
   height: 4.3em;
   background-color: white;
   content: " ";
}

.ProgressCircle span {
   position: absolute;
   line-height: 5em;
   width: 5em;
   display: block;
   color: #00B4F1;
   z-index: 2;
}
.Left-Half { 
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);  
}

.ProgressCircle .Left-Half {
  clip: rect(auto,auto,auto,auto);
}
.ValueBar {
  position: absolute;
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #00B4F1; 
  box-sizing: border-box;
}

.ProgressCircle .FirstHalf {
  position: absolute; 
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #00B4F1;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.ProgressCircle.p85 .ValueBar { transform: rotate(306deg); }
.ProgressCircle.p90 .ValueBar { transform: rotate(324deg); }
.ProgressCircle.p95 .ValueBar { transform: rotate(342deg); }

.Column {
  display: inline-table;
  padding: 0 10% 0 10%;
  width: auto;
}

/* CSS for footer */

footer{
  padding: 0 10% 0 10%;
  text-align: center;
  font-weight: 300;
  font-size: 0.9em;
}

.ReactLink{
  color: #00B4F1;
}

.ReactLink:hover{
  text-decoration: underline;
}

i{
  float: right;
  font-size: 2.5em;
  background-color:transparent;
}